.App {
  height: 100vh;
  .main-page {
    height: 100%;
    .home-container {
      height: calc(100% - 100px);
      display: flex;
      .app-toolbar {
        height: 100%;
        width: 100px;
        background-color: bisque;
      }

      .app-workingspace {
        height: 100%;
        background-color: aquamarine;
      }
    }
  }
}